.photo-grid {
  max-width: 1184px;
  width: calc(100% - 48px*2);
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .photo-grid {
    max-width: 984px;
    width: 100%;
    gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 24px*2);
    margin-top: 88px;
    gap: 16px;
  }
}

@media screen and (max-width: 440px) {
  .photo-grid {
    max-width: calc(100% - 16px*2);
    margin: 64px auto 0 auto;
    row-gap: 12px;
    column-gap: 0;
  }
}