.place__description {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__description {
    gap: 25px;
  }
}

@media screen and (max-width: 680px) {
  .place__description {
    margin: 32px 0 0 16px;
  }
}