.intro__content{
    max-width: 690px;
  } 
  
  @media screen and (max-width: 820px){
    .intro__content{
      max-width: 720px;
    }
  }

  @media screen and (max-width: 768px){
    .intro__content{
      margin: 0 24px;
    }
  }
  
  @media screen and (max-width: 680px) {
    .intro__content {
      max-width: 100%;
      margin: 0 16px;
    }
  }
  
  @media screen and (max-width: 320px){
    .intro__content{
      max-width: 288px;
    }
  }